<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.unisabana.dyas.sampleprj.dao.mybatis.mappers.ClienteMapper">

    <!-- ================================================= -->
    <!-- RESULT MAPS -->
    <!-- ================================================= -->

    <resultMap id="ItemRentadoResult" type="ItemRentado">

        <id property="id" column="ir_id"/>

        <result property="fechainiciorenta" column="ir_fechainicio"/>
        <result property="fechafinrenta" column="ir_fechafin"/>

        <association property="item"
                 javaType="Item"
                 resultMap="edu.unisabana.dyas.sampleprj.dao.mybatis.mappers.ItemMapper.ItemResult"/>

    </resultMap>


    <resultMap id="ClienteResult" type="Cliente">

        <id property="documento" column="cli_documento"/>

        <result property="nombre" column="cli_nombre"/>
        <result property="telefono" column="cli_telefono"/>
        <result property="direccion" column="cli_direccion"/>
        <result property="email" column="cli_email"/>
        <result property="vetado" column="cli_vetado"/>

        <collection property="rentados"
                    ofType="ItemRentado"
                    resultMap="ItemRentadoResult"/>

    </resultMap>


    <!-- ================================================= -->
    <!-- CONSULTAR TODOS LOS CLIENTES -->
    <!-- ================================================= -->

    <select id="consultarClientes"
            parameterType="map"
            resultMap="ClienteResult">

        SELECT

        c.nombre as cli_nombre,
        c.documento as cli_documento,
        c.telefono as cli_telefono,
        c.direccion as cli_direccion,
        c.email as cli_email,
        c.vetado as cli_vetado,

        ir.ITEMS_id as ir_id,
        ir.fechainiciorenta as ir_fechainicio,
        ir.fechafinrenta as ir_fechafin,

        i.id as item_id,
        i.nombre as item_nombre,
        i.descripcion as item_descripcion,
        i.fechalanzamiento as item_fechalanzamiento,
        i.tarifaxdia as item_tarifaxdia,
        i.formatorenta as item_formatorenta,
        i.genero as item_genero,

        ti.id as tipo_id,
        ti.descripcion as tipo_descripcion

        FROM VI_CLIENTES c

        LEFT JOIN VI_ITEMRENTADO ir
        ON c.documento = ir.CLIENTES_documento

        LEFT JOIN VI_ITEMS i
        ON ir.ITEMS_id = i.id

        LEFT JOIN VI_TIPOITEM ti
        ON i.TIPOITEM_id = ti.id

    </select>


    <!-- ================================================= -->
    <!-- CONSULTAR CLIENTE POR ID -->
    <!-- ================================================= -->

    <select id="consultarCliente"
            parameterType="map"
            resultMap="ClienteResult">

        SELECT

        c.nombre as cli_nombre,
        c.documento as cli_documento,
        c.telefono as cli_telefono,
        c.direccion as cli_direccion,
        c.email as cli_email,
        c.vetado as cli_vetado,

        ir.ITEMS_id as ir_id,
        ir.fechainiciorenta as ir_fechainicio,
        ir.fechafinrenta as ir_fechafin,

        i.id as item_id,
        i.nombre as item_nombre,
        i.descripcion as item_descripcion,
        i.fechalanzamiento as item_fechalanzamiento,
        i.tarifaxdia as item_tarifaxdia,
        i.formatorenta as item_formatorenta,
        i.genero as item_genero,

        ti.id as tipo_id,
        ti.descripcion as tipo_descripcion

        FROM VI_CLIENTES c

        LEFT JOIN VI_ITEMRENTADO ir
        ON c.documento = ir.CLIENTES_documento

        LEFT JOIN VI_ITEMS i
        ON ir.ITEMS_id = i.id

        LEFT JOIN VI_TIPOITEM ti
        ON i.TIPOITEM_id = ti.id

        WHERE c.documento = #{idcli}

    </select>


    <!-- ================================================= -->
    <!-- AGREGAR ITEM RENTADO -->
    <!-- ================================================= -->

    <insert id="agregarItemRentadoACliente" parameterType="map">

        INSERT INTO VI_ITEMRENTADO
        (
        CLIENTES_documento,
        ITEMS_id,
        fechainiciorenta,
        fechafinrenta
        )

        VALUES
        (
        #{doc},
        #{itemid},
        #{fechaini},
        #{fechafin}
        )

    </insert>

</mapper>