<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.unisabana.dyas.samples.dao.mybatis.mappers.ItemMapper">


    <!-- ================================================= -->
    <!-- RESULT MAP ITEM -->
    <!-- ================================================= -->

    <resultMap id="ItemResult" type="Item">

        <id property="id" column="id"/>

        <result property="nombre" column="nombre"/>
        <result property="descripcion" column="descripcion"/>
        <result property="fechalanzamiento" column="fechalanzamiento"/>
        <result property="tarifaxdia" column="tarifaxdia"/>
        <result property="formatorenta" column="formatorenta"/>
        <result property="genero" column="genero"/>

    </resultMap>


    <!-- ================================================= -->
    <!-- INSERTAR ITEM -->
    <!-- ================================================= -->

    <insert id="insertarItem" parameterType="map">

        INSERT INTO VI_ITEMS
        (
        id,
        nombre,
        descripcion,
        fechalanzamiento,
        tarifaxdia,
        formatorenta,
        genero,
        TIPOITEM_id
        )

        VALUES
        (
        #{item.id},
        #{item.nombre},
        #{item.descripcion},
        #{item.fechalanzamiento},
        #{item.tarifaxdia},
        #{item.formatorenta},
        #{item.genero},
        #{item.tipoItem.id}
        )

    </insert>


    <!-- ================================================= -->
    <!-- CONSULTAR ITEM -->
    <!-- ================================================= -->

    <select id="consultarItem"
            parameterType="int"
            resultMap="ItemResult">

        SELECT *
        FROM VI_ITEMS
        WHERE id = #{id}

    </select>


    <!-- ================================================= -->
    <!-- CONSULTAR TODOS -->
    <!-- ================================================= -->

    <select id="consultarItems"
            resultMap="ItemResult">

        SELECT *
        FROM VI_ITEMS

    </select>

</mapper>